apiVersion: v1
kind: Service
metadata:
  name: {{ include "mqreader.fullname" . }}-headless
  labels:
    {{- include "mqreader.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "mqreader.selectorLabels" . | nindent 4 }}
